body{
  font-family: Palatino, serif;
  text-align: center;
  background: url("./Components/Images/Tatooine.jpg") !important;
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: auto !important;
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 40vw;
  text-align: center;
  box-shadow: 6px 6px 6px gray;
  background: #f79568;
}

.navBar {
  display: flex;
  box-shadow: 4px 4px 6px gray;
  justify-content: space-between;
  padding: 5px;
  width: auto;
  background-color: #aec9d3;
  border: 2px solid #000000;
}
.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
  text-align: center;
  margin-left: 40%;
  margin-top: 30px;
  margin-right: 40%;
  align-items: center;
  padding: 5px;
  text-align: center;
  border: 2px solid #000000;
}

.game {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: 800px;
  box-shadow: 4px 4px 10px gray;
  padding: 5px;
  background-color: #fab08e;
}

.image {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.image-back {
  background: url("./Components/Images/swLogo.jpeg") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  padding: 10px;
  margin: 10px;
}

.endGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 40vw;
  background: #f79568;
  box-shadow: 12px 12px 10px gray;
}